.events__container {
  padding-top: 24px;
}

.events__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.events__title-leftside {
  display: flex;
  align-items: center;
}


.events__title-leftside a {
  display: flex;
  align-items: center;
  background-color: rgba(151, 202, 209, 0.12);
  padding: 11.67px 11.99px 8.33px 12px;
  border-radius: 8px;
  margin-left: 20px;
  gap: 20px;
  color: rgba(0, 121, 138, 1);
  font-weight: 600;
  font-size: 20px;
}
.events__title-leftside a:hover {
text-decoration: underline;
}

.events__title-rigthside a {
  color: rgba(0, 121, 138, 1);
  font-weight: 500;
  font-size: 16px;
}
.events__title-rigthside a:hover {
  text-decoration: underline;
}

.events__grids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 36px;
}
.events__grids a:hover {
  filter:grayscale(0.8);
}
.events__grids h3:hover  {
  text-decoration: underline;
}
.events__img {
  border-radius: 8px;
  height: 153px;
  width: 100%;
  object-fit: cover;
}

.events__grids a h3 {
  width: 82%;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 16px;
}

.events__grids a p {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.events__grids p img {
  margin-right: 6px;
}

.events__info .free {
  margin-left: 16px;
}

.events__info .grey {
  color: rgba(112, 112, 112, 1);

}

.online-on-image {
  display: flex;
  align-items: center;
  position: absolute;
  top: 7px;
  left: 6px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(112, 112, 112, 1);
  font-size: 12px;
  font-weight: 500;
  line-height: 9.73px;
  padding: 2px 8px 2px 4px;
  gap: 4px;
}
.online-on-image img {
  width: 16px;
  height: 16px;
}

.events__image-info {
  position: relative;
}

.events__info .online {
  display: none;
  align-items: center;
  order: 3;
  width: 64px;
  height: 12.16px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(112, 112, 112, 1);
  font-size: 7.3px;
  font-weight: 500;
  line-height: 9.73px;
  padding: 1.62px 0.81px 1.62px 0.81px;
}


@media (max-width: 1400px) {
  .events-container {
    max-width: 1156px;
}
}

@media (max-width: 1200px) {
  .events__grids {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .events__grids {
    grid-template-columns: 1fr 1fr;
  }
  .events__img {
    flex-direction:column ;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .events__title-leftside h2 {
    font-size: 24px;
    line-height: 24.67px;
    white-space: nowrap;
  }

  .events__grids {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .events__img {
    width: 95.89px;
    height: 54.07px;
  }

  .events__grids a {
    display: flex;
    border-top: 1px solid rgba(217, 217, 217, 1);
    justify-content: center;
    align-items: center;
    margin-bottom: 21px;
    gap: 7.35px;
  }

  .events__grids a h3 {
    order: 1;
    width: 100%;
    font-size: 9.81px;
    font-weight: 500;
    line-height: 14.71px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 2.45px;

  }

  .events__grids .date {
    order: 0;
    display: flex;
    align-items: center;
    margin-bottom: 1.976px;
    font-size: 8.58px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.35px;
    text-align: left;
    color: rgba(124, 111, 80, 1);

  }

  .events__title-rigthside {
    display: none;
  }

  .events__info {
    display: flex;
    flex-direction: column;
    width: 300%;
  }

  .events__info .grey {
    order: 2;
    color: rgba(112, 112, 112, 1);
    font-size: 8.58px;
    font-weight: 400;
    line-height: 12.26px;
    text-align: left; 
  }
  .events__grids .date img {
    display: none;
  }
  .events__grids .last {
    display: none;
  }
  .events__info .online {
    display: flex;
    align-items: center;
    order: 3;
    width: 64px;
    height: 12.16px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(112, 112, 112, 1);
    font-size: 7.3px;
    font-weight: 500;
    line-height: 9.73px;
    padding: 1.62px 0.81px 1.62px 0.81px;
  }
  .events__grids .online-on-image {
    display: none;
  }
}
@media (max-width: 576px) {
  .events__title-leftside h2 {
    font-size: 20px;
    line-height: 24.67px;
    white-space: nowrap;
  }
  .events__title-leftside a {
    margin-left: 8px;
    padding: 8px 8.22px 5.71px 8.22px;
    gap: 8px;
    font-size: 13.71px;
    border-radius: 5.48px;
  }


}