@import url('./css/header.css');
@import url('./css/main.css');
@import url('./css/events.css');
@import url('./css/upcoming.css');
@import url('./css/join.css');
@import url('./css/popular.css');
@import url('./css/friendships.css');
@import url('./css/footer.css');
@import url('./css/events-select.css');




* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(33, 33, 33, 1);
}


button {
  cursor: pointer;
  &:hover {
    filter: brightness(1.1);
  }
}


a {
  text-decoration: none;
}

h2 {
font-size: 28px;
font-weight: 600;
line-height: 36px;
}





select {
  padding: 16px;
  font-weight: bold;
  border-radius: 20px;
  appearance: none;
  width: 100%;
}
.select {
  position: relative;
  display: flex;
  width: 200px;
}
.select-arrow {
  position: absolute;
  top: 17px;
  right: 14px;
  pointer-events: none;
}



.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1222px;
  }
}
