.events__container {
  padding-top: 24px;
}

.events__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.events__title-leftside {
  display: flex;
  align-items: center;
}


.events__title-leftside a {
  display: flex;
  align-items: center;
  background-color: rgba(151, 202, 209, 0.12);
  padding: 11.67px 11.99px 8.33px 12px;
  border-radius: 8px;
  margin-left: 20px;
  gap: 20px;
  color: rgba(0, 121, 138, 1);
  font-weight: 600;
  font-size: 20px;
}

.events__title-rigthside a {
  color: rgba(0, 121, 138, 1);
  font-weight: 500;
  font-size: 16px;
}

.events__grids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 36px; 
}

.events__img {
  height: 153px;
  box-sizing: border-box;
}

.events__grids a h3 {
  width: 81%;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 16px;
}

.events__grids a p {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.events__grids a img {
  margin-right: 6px;
}

.free {
  margin-left: 16px;
}

.grey {
  color: rgba(112, 112, 112, 1);

}



@media (max-width: 576px) {
  .events-container {
    max-width: 500px;
  }
}

@media (max-width: 720px) {
  .events-container {
    max-width: 580px;
    padding: 0 15px;
  }

}

@media (max-width: 940px) {
  .events-container {
    max-width: 580px;
  }
  .events__grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px; 
  }
}

@media (max-width: 1023px) {
  .events-container {
    max-width: 580px;
  }



}


@media (max-width: 1200px) {
  .events-container {
    max-width: 888px;
  }
  .events__grids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 36px; 
  }
}

@media (max-width: 1300px) {
  .events-container {
    max-width: 1196px;
  }
  .events__grids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 36px; 
  }
}